@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");

:root {
    --color-white: #FFFFFF;
    --color-pale-blue: #DEECF7;
    --color-light-blue: #ACCFEC;
    --color-mid-blue: #7BB2E0;
    --color-dark-blue: #4693D4;
    --color-navy: #102a42;
    --color-dark-navy: #010714;
    --color-pink: #e73c7c;
    --font-family: "Titillium Web", sans-serif;
  }
  

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}

/* FOOTER */

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 56px;
    background: transparent;
    color: var(--color-white);
    text-align: center;
    text-align: left;
    transition: all 1s ease;
    z-index: 1;
  }
  
  footer:hover {
    background-color: var(--color-navy);
    animation: backgroundtopbottom 2s ease-in-out;
  }
  
  footer .link a {
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-dark-blue);
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  footer .link {
    padding: 10px;
    z-index: 2;
    float: right;
  }
  
  footer .texto {
    font-size: 0.8rem;
    z-index: 2;
    padding: 10px;
  }
  
  footer a:hover {
    background-color: var(--color-mid-blue);
    box-shadow: 0px 0px 10px 0px #000;
  }
  
  @keyframes backgroundtopbottom {
    0% {
      background-position: 0% 0%;
    }
  
    100% {
      background-position: 0% 100%;
    }
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes apareceIzq {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes floatLogo {
    0% {
      transform: translatey(0px);
    }
    50% {
        filter: drop-shadow(0px 0px 2px #000000);
        transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
}


  /* NAVBAR-TOP */

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}
  
  .nav-topbar {
    width: 78%;
    height: 14%;
    position: fixed;
    top: 10px;
    right: 10px;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,.2);
    background-color: var(--color-light-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
	box-shadow: rgb(0, 0, 0) -3px -3px 20px 0px;
    background-color: #23a6d5;
  }
  
  .back-forward,
  .sign-log {
    display: flex;
    align-items: center;
  }
  
  .back-forward li,
  .sign-log li {
    list-style-type: none;
    padding: 0 10px;
  }
  
  #back img,
  #forward img {
    height: 30px;
    transition: all 0.3s;
  }
  
  #back:hover img,
  #forward:hover img {
    transform: scale(1.2);
  }
  
  .sign-log a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
  }
  
  .sign-log #sign-in {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-dark-blue);
  }
  
  .sign-log #log-in {
    background-color: rgba(16, 42, 66, 0.9);
    color: var(--color-white);
  }
  
  .btn-navbar:link,
  .btn-navbar:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }
  
  .btn-navbar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .btn-navbar-colored {
    background-color: #fff;
    color: #777;
    border-radius: 100px;
  }
  
  .btn-navbar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn-navbar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-navbar-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
  
  .search-box {
    display: flex;
    align-items: center;
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
  }
  
  .search-box li {
    list-style-type: none;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 50px;
  }
  
  .search-box a:hover, .play-follow a:hover, .record-container:hover {
    cursor: pointer;
  }
  
  #search {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
  }
  
  #search::placeholder {
    color: var(--color-navy);
  }
  
  .search-icon img {
    height: 15px;
    margin: 10px;
  }
  
  /* NAVBAR */
.nav-sidebar div{
    width:90%;
  }
  
  .inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .nav-sidebar a{
    width: 60px; 
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    width: 80px;
    padding: 14px 60px;
    transition: .7s;
    background-color: white;
    color: black;
    opacity: .8;
  }
  
  .nav-sidebar a:hover{
    transition:.7;
    opacity:1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .spoti{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .nav-sidebar img{
    margin-top:20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
  .nav-sidebar img:hover{
    cursor: pointer;
    border-radius: 100%;
    animation:floatLogo 2s infinite;
  }
  
  .nav-sidebar{
    animation: apareceIzq 1s;
    border-radius: 12px;
    width: 20%;
    height: calc(99vh - 70px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition: 1s;
    box-shadow: rgb(0, 0, 0) -3px -3px 20px 0px;
    background-color: #23a6d5;
    position: fixed;
    left: 10px;
    top: 10px;
  }
  
  
  .buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;  
  }
  
  .crear_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  
  }
  
  .explorar_podcast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  /* listaSpotify */

  .super-container{
    background-size: 400% 400%;
    animation: gradient 40s linear infinite;
    height: 100vh;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/fondo1.jpeg);
    transition: all 2s ease-in-out;
    width: 100vw;
  }
  
.main-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .main-container::-webkit-scrollbar {
    width: 16px;
  }
  
  .main-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #23d5ab;
    box-shadow: 0px 0px 10px 0px #23d5ab;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .main-container {
    height: 72vh;
    width: 77vw;
    position: relative;
    left: calc(50% - 40.5vw);
    top: 49px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .list {
    width: 100%;
    height: 678px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .list2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 98%;
  }
  
  .song {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  .song:hover {
    box-shadow: 0px 0px 10px 0px #000;
    transition: all 0.3s ease;
  }
  
  .song:hover .song-info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--color-pink);
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .song-info {
    display: none;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 10px #e73c7c);
  }
  
  .song-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    bottom: 50px;
    position: relative;
    color: var(--color-pink);
    font-weight: bold;
    font-size: 5rem;
    transition: all 0.3s ease;
  }

  /* ARTIST PAGE */

  .artist-main {
    position: absolute;
    top: 18%;
    width: 78%;
    right: 10px;
    color: var(--color-white);
}

.artist-main h2 {
    font-size: 40px;
}

.artist-main h2, .artist-main p, .artist-main h1 {
    text-shadow: 7px 4px 6px rgba(0,0,0,0.5);

}

.artist-main section {
    box-shadow: 0 2px 20px 3px rgba(0,0,0,.2);
    margin-top: 25px;
    border-radius: 20px;
    background-color: var(--color-dark-blue);
}

.artist-main section h2 {
    margin-top: 20px;
}

.artist-playlist-follow {
    position: relative;
    background-image: url(./img/sabaton-artist-group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.artist-playlist-follow h1 {
    font-size: 75px;
    text-align: center;
}


.listeners-verified {
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
}

.listeners-verified p {
    display: flex;
}

.listeners-verified img {
    height: 25px;
    margin: 0 10px;
}

.topSongs-play-follow-artistSetList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding-bottom: 20px;
}

.top-songs {
    display: flex;
    align-items: center;
    width: 70%;
    flex-direction: column;
    height: 100%;
}

.sabaton-top-song {
    width: 80%;
    position: relative;
    height: 20%;
    flex: 1;
    padding: 20px;
    margin-bottom: 5px;
}

.sabaton-top-song p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    margin: 0;
    text-align: center;
}

.play-follow-artistSetList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.play-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.play-follow img{
    height: 60px;
}

.play-follow img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.btn-follow {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); 
    color: var(--color-dark-blue); 
}

.btn-follow:hover {
    background-color: rgba(16, 42, 66, 0.9); 
    color: var(--color-white); 
}

.artist-set-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}


.artist-set-list img {
    height: 110px;
    width: 110px;
    margin: 10px 0;
}

.artist-list, .other-artists, .artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-all-vinyls, .other-artists-albums-list {
    display: flex;
    margin: 60px 0;
    max-width: 100%;
}

.other-artists-albums-list {
    display: flex;
}

.other-artists-albums {
    background-color: var(--color-mid-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    margin: 0 10px;
    width: 200px;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,0.4);
    transition: 0.3s ease-in-out;
}

.other-artists-albums:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.other-artists-albums p {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.other-artists-albums img {
    height: 200px;
    width: 200px;
}

.artist-info img {
    width: 500px;
    height: 500px;
    margin: 60px 0;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,.2);
}

.artist-info p {
    padding: 10px 40px;
    margin: 0 20px 20px;
    background-color: var(--color-mid-blue);
    border-radius: 10px;
}

/*RECORD*/

.container-vinyl, .other-artists-albums {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 0 10px
}

.record-container {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 5px;
}

.cover {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--color-mid-blue);
    z-index: 1;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,0.4);
}

.cover img {
    width: 200px;
    height: 200px;
}

.record {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url(./img/disco.png);
    background-size: cover;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
}


  .sidebar-contenido{
    color: white;
    width: 78%;
    height: auto;
    border-radius: 12px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 2px 0px 20px 0px;
    position: relative;
    top: 114px;
    left: 10%;
    margin-bottom: 100px;

}
.sidebar-contenido h1{
    margin-top:1rem;
    text-transform: uppercase;
    font-size: 37px;
    /*transition: all 2s;*/
}
.sidebar-contenido h1:hover {
    margin-top: 1rem;
    text-shadow: 4px 5px 6px #3b3b3bd4;
    text-transform: uppercase;
    font-size: 37px;
    /*transition:all 2s;*/
    animation: float 2s ease-in-out infinite;
}

.inicio-contenedor-listas{
    margin-top: 20px;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lista{
    margin-left: 30px;
    margin-right: 30px;
    height: 220px;
    width: 163px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 1);
    border-radius:20px;
    transition: .7s;
    background-color: #ffffffb3;
    opacity: .9;
    margin-bottom: 14px;
}

.lista:hover{
    cursor:pointer;
    transition: .7s;
    background-color: #ffffff4d;
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 1);
    opacity: 1;
    background-color: white;
    transform: translateY(-10px) scale(1.1);
}
.lista img{
    margin:10px;
    border-radius: 12px;
    height: 150px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
