@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');

:root{
    --primary-color: #e73c7e;
    --secondary-color: #23d5ab;
    --tertiary-color: #23a6d5;
    --quaternary-color: #ee7752;
    --quinary-color: #fff;
    --senary-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s linear infinite;
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/fondo1.jpeg);
    
}

.main-container::-webkit-scrollbar-track {
    background: transparent;
}

.main-container::-webkit-scrollbar {
    width: 16px;
}


.main-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #23d5ab;
    box-shadow: 0px 0px 10px 0px #23d5ab;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* FOOTER */

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 56px;
    background: transparent;
    color: #fff;
    text-align: center;
    text-align: left;
    transition: all 1s ease;
}

footer:hover {
    background-color: var(--secondary-color);
    animation: backgroundtopbottom 2s ease-in-out;
}

footer .link a {
    color: var(--quinary-color);
    text-decoration: none;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

footer .link {
    padding: 10px;
    z-index: 2;
    float: right;
}


footer .texto {
    font-size: 0.8rem;
    z-index: 2;
    padding: 10px;
}

footer a:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px #000;
}

@keyframes backgroundtopbottom {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.main-container {
    height: 80vh;
    width: 85vw;
    position: relative;
    left: calc(50% - 42.5vw);
    top: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.list {
    width: 100%;
    height: 678px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 98%;
}

.song {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    filter: brightness(0.5);
}

.song:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px #000;
    transition: all 0.3s ease;
    filter: brightness(1.5);
}

.song:hover .song-info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
}


.song-info {
    display: none;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 10px #e73c7c);
}



.song-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    bottom: 50px;
    position: relative;
    color: var(--quinary-color);
    font-weight: bold;
    font-size: 5rem;
    transition: all 0.3s ease;
}