@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-pale-blue: #DEECF7;
    --color-light-blue: #ACCFEC;
    --color-mid-blue: #7BB2E0;
    --color-dark-blue: #4693D4;
    --color-navy: #102B42;
    --color-dark-navy: #010714;
}

/*TOP NAVBAR*/

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.nav-topbar {
    width: 75%;
    height: 14%;
    position: fixed;
    top: 0;
    left: calc(25vw + 10px);
    /*box-shadow: 0 2px 20px 3px rgba(0,0,0,.2); */   
    background: linear-gradient(to bottom, rgba(1, 7, 20, 0.5), rgba(1, 7, 20, 0.1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 10px;
    z-index: 5;
}

.back-forward,
.sign-log {
    display: flex;
    align-items: center;
}

.back-forward li,
.sign-log li {
    list-style-type: none;
    padding: 0 10px;
}

#back img,
#forward img {
    height: 30px;
    transition: all 0.3s;
}

#back:hover img,
#forward:hover img {
    transform: scale(1.2);
}

.sign-log a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
}

.sign-log #sign-in {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-dark-blue);
}

.sign-log #log-in {
    background-color: rgba(70, 147, 212, 0.9);
    color: var(--color-white);
}

.btn-navbar:link,
.btn-navbar:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.btn-navbar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-navbar:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-navbar-colored {
    background-color: #fff;
    color: #777;
    border-radius: 100px;
}

.btn-navbar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}


.btn-navbar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-navbar-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.search-box {
    display: flex;
    align-items: center;
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.search-box li {
    list-style-type: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search-box a:hover, .play-follow a:hover, .record-container:hover {
    cursor: pointer;
}

#search {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

#search::placeholder {
    color: var(--color-white);
}

#search:focus {
    outline: none;
    border: 2px solid var(--color-navy); 
}

.search-icon img {
    height: 15px;
    margin: 10px;
}


/*ARTIST PAGE*/

.artist-main {
    position: absolute;
    top: 18%;
    width: 68%;
    left: 28%;
    color: var(--color-white);
}

.artist-main h2, .artist-main p, .artist-main h1 {
    text-shadow: 7px 4px 6px rgba(0,0,0,0.5);

}

.artist-main section {
    box-shadow: 0 2px 20px 3px rgba(0,0,0,.2);
    margin-top: 25px;
    border-radius: 20px;
}

.artist-main section h2 {
    margin-top: 20px;
}

.artist-playlist-follow {
    position: relative;
    background-image: url(./imgs_artista/sabaton/sabaton-artist-group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.artist-playlist-follow h1 {
    font-size: 75px;
    text-align: center;
}


.listeners-verified {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.listeners-verified p {
    display: flex;
}

.listeners-verified img {
    height: 25px;
    margin: 0 10px;
}

.topSongs-play-follow-artistSetList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-songs {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
}

.sabaton-top-song {
    width: 80%;
    position: relative;
}


.sabaton-top-song img {
    width: 100%; 
    height: auto; 
}

.sabaton-top-song p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    margin: 0;
    text-align: center;
}






.play-follow-artistSetList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.play-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.play-follow img{
    height: 60px;
}

.btn-follow {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); 
    color: var(--color-dark-blue); 
}

.btn-follow:hover {
    background-color: rgba(255, 255, 255, 1); 
    color: var(--color-dark-blue); 
}

.artist-set-list {
    display: flex;
    flex-direction: column;
}

.artist-set-list img {
    height: 110px;
    width: 110px;
    margin: 10px 0;
}


.artist-list, .other-artists, .artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-all-vinyls, .other-artists-albums-list {
    display: flex;
    margin: 60px 0;
    max-width: 100%;
}





.other-artists-albums-list {
    display: flex;
}

.other-artists-albums {
    background-color: var(--color-mid-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    margin: 0 10px;
    width: 200px;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,0.4);
}

.other-artists-albums img {
    width: 200px;
    height: 200px;
}

.other-artists-albums p {
    padding: 10px;
    margin: 0;
    text-align: center;
}








.other-artists-list {
    display: flex;
}

.other-artists-albums img {
    height: 100px;
    width: 100px;

}

.artist-info img {
    width: 500px;
    height: 500px;
    margin: 60px 0;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,.2);
}

.artist-info p {
    padding: 0 40px;
    margin-bottom: 30px;
}

/*RECORD*/

.container-vinyl, .other-artists-albums {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 0 10px
}

.record-container {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 5px;
}

.cover {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--color-mid-blue);
    z-index: 1;
    box-shadow: 0 2px 20px 3px rgba(0,0,0,0.4);
}

.cover img {
    width: 200px;
    height: 200px;
}

.record {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url(./imgs_artista/disco.png);
    background-size: cover;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-dark-blue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* FOOTER */

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 56px;
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 2.5rem;
    text-align: left;
    transition: all 1s ease;
}

footer:hover{
        background-color: #23d5ab;
        animation: backgroundtopbottom 2s ease-in-out;
}

footer .link a{
    color: #fff;
    text-decoration: none;
    background-color: #23a6d5;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

footer .link{
    z-index: 2;
    float: right;
}


footer .texto{
    font-size: 0.8rem;
    z-index: 2;
}

footer a:hover{
    background-color: #23d5ab;
    box-shadow: 0px 0px 10px 0px #000;
}

@keyframes backgroundtopbottom {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 85vw;
    position: relative;
    left: 101px;
    top: 7px;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list{
    width: 100%;
    height: 678px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/*
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 98%;
}

li{
    display: flex;
    background-color: #23a6d5;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

li:hover{
    background-color: #23d5ab;
    box-shadow: 0px 0px 10px 0px #000;
    height: 400px;
    height: max-content;
    .song-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
*/
.song-info{
    display: none;
    transition: all 0.3s ease;
}
